{% macro dashedDivider() %}
  <div class="hr-line-dashed"></div>
{% endmacro %}

{% macro required(isRequired) %}
  {{"required" if isRequired else ""}}
{% endmacro %}

{% macro textInput(name, label, defaultValue="", isRequired=true) %}
  <div class="form-group row" id="staff-id-div">
    <label class="col-sm-2 col-form-label">{{label}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" 
             name="{{name}}" {{required(isRequired)}}
             value="{{defaultValue}}">
      <span class="form-text m-b-none" id="id-err" style="color: red" hidden></span>
    </div>
  </div>
  {{ dashedDivider() }}
{% endmacro %}

{% macro selectInput(options, name, label, default="", valueKey = "id" , labelKey = "name") %}
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">{{label}}</label>
    <div class="col-sm-10">
      <select class="form-control m-b" name="{{name}}">
        {% for option in options %}
          <option value="{{option[valueKey]}}" {{"selected" if option[valueKey] === default else ""}}> 
            {{option[labelKey]}} 
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
  {{ dashedDivider() }}
{% endmacro %}

{% macro numberInput(name, label, defaultValue="1", isRequired=true) %}
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">{{label}}</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="{{name}}" {{required(isRequired)}} 
             value="{{defaultValue}}">
    </div>
  </div>
  {{ dashedDivider() }}
{% endmacro %}

{% macro tagInput(name, label, defaultValue="") %}
  <div class="form-group row text-xl" id="staff-id-div">
    <label class="col-sm-2 col-form-label">{{label}}</label>
    <div id="tags_input" class="col-sm-10">
      <input type="text" name="{{name}}" data-role="tagsinput" style="display: none;" value="{{defaultValue}}">
      </input>
    </div>
  </div>
  {{ dashedDivider() }}
{% endmacro %}