{% macro detailListItem(key, value) %}
<div class="flex py-2 {{ "border-t border-gray-300" if loop.first else "" }}">
    <span class="text-gray-500">{{key}}</span>
    <span class="ml-auto text-gray-900">{{value}}</span>
</div>
{% endmacro %}

{% macro bookDetailList(book) %}
<div class="book__detail-list book__detail-content--hidden">
    {{ detailListItem('Ngôn ngữ', book.language.name) }}
    {{ detailListItem('Kiểu sách', book.type.name) }}
    {{ detailListItem('Thể loại', book.category.name) }}
    {{ detailListItem('Nhà xuất bản', book.publisher) }}
    {{ detailListItem('Số trang', book.pageCount) }}
    {{ detailListItem('Ngày xuất bản', book.publishingYear.toDateString()) }}
</div>
{% endmacro %}