<section class="text-gray-700 body-font">
    <div class="container px-6 py-24 mx-auto">
        <h1 class="text-3xl font-medium title-font text-gray-900 mb-12">Testimonials</h1>
        <div class="flex flex-wrap -m-4">
            {{>book.testimonial.item}}
            {{>book.testimonial.item}}
        </div>
    </div>
</section>