<div class="book-carousel-wrapper -mx-2 mb-4 {{custom}}">
    <button type="button" class="slick-prev">
        <svg width="18" height="36" viewBox="0 0 18 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 31.77L6.87449 18L18 4.23L14.5749 0L0 18L14.5749 36L18 31.77Z" fill="#3182ce" />
        </svg>
    </button>
    <div class="book-carousel">
        {{#each bookList}}
        {{> book.carousel.item book=this}}
        {{/each }}
    </div>
    <button type="button" class="slick-next">
        <svg width="18" height="36" viewBox="0 0 18 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 31.77L11.1255 18L0 4.23L3.4251 0L18 18L3.4251 36L0 31.77Z" fill="#3182ce" />
        </svg>
    </button>
</div>