{% from "partials/admin.form.html" import textInput, selectInput, numberInput, dashedDivider, tagInput %}

{{ textInput("title","Tên sách", book.title) }}
{{ textInput("author", "Tác giả", book.author) }}
{{ selectInput(languages, "language", "Ngôn ngữ", book.language.name) }}
{{ selectInput(categories, "category", "Lĩnh vực", book.category.name) }}
{{ selectInput(types, "type", "Loại Sách", book.type.name) }}
{{ textInput("publisher", "Nhà xuất bản", book.publisher) }}
<!-- <div class="form-group row">
  <label class="col-sm-2 col-form-label">Ngày xuất bản</label>
  <div class="col-sm-10">
    <div class="input-group date">
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text"
        class="form-control" value="27/04/2020" name="publishingYear">
    </div>
  </div>
</div> -->
{{ numberInput("publishingYear", "Năm xuất bản", book.publishingYear)}}
{{ numberInput("bookCount", "Số lượng", book.bookCount) }}
{{ numberInput("pageCount", "Số trang", book.pageCount) }}
{{ tagInput("tags", "Chọn Tag:", book.tagString() if book.tagString else '')}}
<div class="form-group row">
  <label class="col-sm-2 col-form-label">Mô tả sách</label>
  <div class="col-sm-10">
    <textarea class="form-control" required name="desc" rows="20">{{book.desc}}</textarea>
  </div>
</div>
{{ dashedDivider() }}

{% if book.testimonial %}
<input type="text" value="{{book.testimonial | dump}}" hidden name="testimonial">
{% endif %}

<div class="form-group row">
  <label class="col-sm-2 col-form-label">Ảnh bìa</label>
  <div class="col-sm-10">
    {% if book.coverImage %}
    <div id="book-cover-preview" class="grid" data-src="{{ book.coverImage }}" style="grid-template-columns: minmax(0, 370px);">
      <div style="padding-bottom: 130%;" class="h-0 relative">
        <img src="{{ book.coverImage }}" class="absolute top-0 left-0 h-full w-full object-cover object-center">
      </div>
    </div>
    <input type="text" value="{{ book.coverImage }}" name="coverImage" hidden>
    {% else %}
    <div id="book-cover-preview" class="hidden" style="grid-template-columns: minmax(0, 370px);">
      <div style="padding-bottom: 130%;" class="h-0 relative">
        <img class="absolute top-0 left-0 h-full w-full object-cover object-center">
      </div>
    </div>
    {% endif %}
    <input type="file" name="file" accept="image/*" class="mt-4" id="book-cover-input">
  </div>
</div>

<div class="hr-line-dashed"></div>
<div class="form-group row">
  <div class="col-sm-4 col-sm-offset-2">
    <a href="/admin/book" class="btn btn-white btn-sm" id="cancel-btn">Cancel</a>
    <button id="submit-btn" class="btn btn-primary btn-sm" type="submit">Create</button>
  </div>
</div>