<div class="book-carousel-wrapper mb-4 {{custom}}">
    <div>
        <button type="button" class="slick-prev">
            <span class="block" style="transform: scale(-1);">&#x279c;</span>
        </button>
    </div>
    <div class="book-carousel">
        {{#each books}}
        {{> book.carousel.item book=this}}
        {{/each }}
    </div>
    <button class="slick-next">
        <span class="block" style="transform: scale(1);">&#x279c;</span>
    </button>
</div>