{{#if books.length}}
<section class="{{#if @index}} {{#unless (isEven @index) }} bg-gray-300 {{/unless}} {{/if}} 
                text-gray-700 body-font">
    <div class="container px-6 py-16 md:py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-10 md:mb-20">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">
                    {{title}}
                    <a href="/search?q={{title}}"
                        class="block mt-1 xs:mt-0 xs:inline text-base font-normal xs:pl-2 text-gray-700 hover:underline focus:outline-none focus:underline">
                        Xem tất cả &gt;&gt;
                    </a>
                </h1>

                <div class="h-1 w-20 bg-indigo-500 rounded"></div>
            </div>
            <p class="lg:w-1/2 w-full leading-relaxed text-base">{{desc}}</p>
        </div>
        {{>book.carousel books=books}}
    </div>
</section>
{{/if}}