{% from "partials/admin.form.html" import dashedDivider, textInput, infoRow %}
{% macro selectInput(options, name, label, key, default="", disabled=true) %}
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">{{label}}</label>
    <div class="col-sm-10">
      <select class="form-control m-b" name="{{name}}" {{'disabled' if disabled else ''}}>
        {% for option in options %}
          <option value="{{option[key]}}" {{"selected" if option[key] === default else ""}}> 
            {{option[key]}}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
  {{ dashedDivider() }}
{% endmacro %}

{{ infoRow("Tên sách", card.book.title) }}
{{ infoRow("Vị trí sách", card.book.position) }}
{{ selectInput(usernames, "username", "Username", "username", card.user.username) }}
{{ selectInput(statuses, "status", "Loại thẻ", "name", card.status, false) }}
<div class="form-group row">
  <div class="col-sm-4 col-sm-offset-2">
    <a href="/admin/borrow" class="btn btn-white btn-sm" id="cancel-btn">Cancel</a>
    <button id="submit-btn" class="btn btn-primary btn-sm" type="submit">Create</button>
  </div>
</div>