
<td>{{card.id}}</td>
<td>{{card.user.username}}</td>
<td>{{card.book.title}}</td>
<td>{{card.book.position}}</td>
<td>{{card | getStatusLabel() | safe}}</td>

<td>
  {% if (card.status | isBorrowConfirmable) %}
  {% set confirmText = (card.status | getBorrowConfirmText) %}
  <form data-id={{card.id}} class="borrow-form" action="borrow/quick/{{card.id}}?_method=PUT" method="post">
    <button type="submit" class="action-btn text-navy" 
            title="Xác nhận đã {{confirmText}}"
            onclick="return confirm('Bạn có chắc là muốn xác nhận đã {{confirmText}} không?')">
      <i class="fa fa-check-circle-o" aria-hidden="true" style="font-size: 20px;margin-left: 5px"></i>
    </button>
  </form>
  {% else %}
    <i class="fa fa-check-circle-o invisible-button" aria-hidden="true" style="margin-left: 5px"></i>
  {% endif %}

  {% if (card.status | isCanceled) === false %}
  <form data-id={{card.id}} class="borrow-form" action="borrow/{{card.id}}?_method=DELETE" method="post">
    <button type="submit" class="action-btn text-danger" style="margin-left: 15px" 
            onclick="return confirm('Bạn có chắc không?')" title="Hủy thẻ mượn">
      <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 20px"></i>
    </button>
  </form>
  {% else %}
    <i class="fa fa-check-circle-o invisible-button" aria-hidden="true" style="margin-left: 15px"></i>
  {% endif %}

  <a href="borrow/edit/{{card.id}}">
    <button type="button" class="action-btn text-navy" style="margin-left: 15px" title="Chỉnh sửa thẻ mượn">
      <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 20px"></i>
    </button>
  </a>
</td>