<div class="grid grid-cols-1 gap-3 md:gap-4 sm:grid-cols-2 lg:grid-cols-3 mb-4 grid-row-auto"
    style="grid-auto-rows: 1fr;">
    {{#each categories}}
    {{>category.preview.item this}}
    {{/each}}
</div>