<footer id="footer-main" class="bg-fit-blue flex flex-row text-white text-18 mt-auto justify-between px-12 py-24 font-bold md:flex-col">
    <div class="flex flex-col items-center lg:items-start">
        <div class="">
            <img src="/images/logo.png" alt="Logo" class="h-p-85 xl:h-p-70 lg:h-20 md:h-12 inline-block"/>
            <span class="footer-main-heading text-fit-yellow">FITLIB</span>
        </div>
        
        <div class="mt-4 text-center text-14 lg:text-left lg:text-lg md:font-normal">Thư viện khoa công nghệ thông tin <br> Trường Đại học Khoa học Tự nhiên, ĐHQG - HCM</div>
    </div>
    <div>
        <div class="footer-main-heading">Thông tin</div>
        <nav>
            <ul class="text-18 pt-2 pl-8">
                <li><a href="https://www.hcmus.edu.vn/">Website Trường</a></li>
                <li><a href="https://www.fit.hcmus.edu.vn/">Website Khoa</a></li>
                <li><a href="https://portal.hcmus.edu.vn/">HCMUS Portal</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <div class="footer-main-heading">Liên hệ</div>
        <nav>
            <ul class="pt-2 pl-8">
                <li><i class="fas fa-university inline-block mr-4"></i>227 Nguyễn Văn Cừ, Quận 5, Hồ Chí Minh</li>
                <li><i class="fas fa-phone-alt inline-block mr-4"></i>Phone: (028) 3835 4266</li>
                <li><i class="fas fa-envelope inline-block mr-4"></i>Email: info@fit.hcmus.edu.vn</li>
            </ul>
        </nav>
    </div>
</footer>