<footer class="text-white body-font bg-gray-700">
    <div class="container px-5 py-8 mx-auto">
        <div class="flex flex-wrap md:text-left text-center order-first">
            <div class="lg:w-1/3 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">THÔNG TIN WEBSITE</h2>
                <nav class="list-none mb-10">
                    <li>
                        <a href="https://hcmus.edu.vn/" class="text-gray-200 hover:text-gray-400">
                            Website Trường Đại học Khoa học Tự Nhiên
                        </a>
                    </li>
                    <li>
                        <a href="https://www.fit.hcmus.edu.vn/" class="text-gray-200 hover:text-gray-400">
                            Website Khoa Công Nghệ Thông Tin
                        </a>
                    </li>
                    <li>
                        <a href="http://portal.hcmus.edu.vn/" class="text-gray-200 hover:text-gray-400">
                            HCMUS Portal
                        </a>
                    </li>
                </nav>
            </div>

            <div class="lg:w-1/3 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">THÔNG TIN LIÊN HỆ</h2>
                <nav class="list-none mb-10">
                    <li>
                        <a class="text-gray-200 hover:text-gray-400">227 Nguyễn Văn Cừ, Quận 5, TP. Hồ Chí Minh</a>
                    </li>
                    <li>
                        <a href="tel:(028) 3835 4266" class="text-gray-200 hover:text-gray-400">
                            Số điện thoại: (028) 3835 4266
                        </a>
                    </li>
                    <li>
                        <a href="mailto:info@fit.hcmus.edu.vn" class="text-gray-200 hover:text-gray-400">
                            Email: info@fit.hcmus.edu.vn
                        </a>
                    </li>
                </nav>
            </div>

            <div class="lg:w-1/3 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">THEO DÕI TIN TỨC</h2>
                <div
                    class="flex xl:flex-no-wrap md:flex-no-wrap lg:flex-wrap flex-wrap justify-center md:justify-start">
                    <input
                        class="w-40 sm:w-auto text-black bg-gray-100 rounded xl:mr-4 lg:mr-0 sm:mr-4 mr-2 border border-gray-400 focus:outline-none focus:border-indigo-500 text-base py-2 px-4"
                        placeholder="Email" type="text">
                    <button
                        class="lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
                        Đăng ký
                    </button>
                </div>
                <p class="text-gray-400 text-sm mt-2 md:text-left text-center">Mọi thông tin chi tiết của thư viện
                    <br class="lg:block hidden">sẽ được thông báo sớm nhất.
                </p>
            </div>
        </div>
    </div>
    <div class="bg-gray-800">
        <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col justify-between">
            <div>
                <span class="ml-3 text-xl">FITLIB - </span>
                <span> &nbsp; Thư viện Khoa Công Nghệ Thông Tin, Đại Học Khoa Học Tự Nhiên</span>
            </div>
            <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">
                © 2020 Team13 —
                <a href="https://github.com/1712932/PTUDW-17TN-Nhom13" rel="noopener noreferrer"
                    class="text-gray-600 ml-1" target="_blank">
                    @PTUDW17TN
                </a>
            </p>
        </div>
    </div>
</footer>