<div id="header__user-menu--wrapper" class="flex items-center justify-center">
  <div class="relative h-24">
    <button id="header__user-menu__trigger" type="button" aria-label="Activate user menu">
      <img
        src="{{user.profilePicture}}"
        alt="your profile picture"
        class="rounded-full h-24 w-24"
        >
    </button>
    <nav id="header__user-menu">
      <ul>
        <li>
          <a href="/profile">Tài khoản</a>
        </li>
        <li>
          <a href="/history">Lịch sử mượn</a>
        </li>
        <li>
          <a href="/logout">Đăng xuất</a>
        </li>
      </ul>
    </nav>
  </div>
</div>