<header class="flex items-center bg-fit-blue pl-12 pr-24 py-3 3xl:pl-6 3xl:pr-12 md:block md:px-4">
  <div class="flex items-center justify-between">
    <a class="flex items-center" aria-label="Go to homepage">
      <img src="/images/logo.png" alt="Logo" class="h-p-85 xl:h-p-70 lg:h-20 md:h-12"/>
      <span class="text-fit-yellow text-28 leading-38 font-semibold pt-4 pl-4 xl:hidden md:block md:text-16 md:leading-20">FITLIB</span>
    </a>
    <div id="sidebar-wrapper">
      <button id="header-hamburger" type="button" aria-label="Open sidebar">
        <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.06055 6.89258L14.1404 6.89258" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M1.65576 1.78516H14.1406" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M5.06055 12L14.1404 12" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <nav id="sidebar">
        <ul>
          <li>
            <a href="/">Trang chủ</a>
          </li>
          <li>
            <a href="/catalogue">Kho sách</a>
          </li>
          <li>
            <a href="/login">Đăng nhập</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="md:h-3"></div>
  <form id="header-search-form">
    <div id="header-select" class="md:hidden">
      <select class="main">
        <option selected>Tất cả</option>
        <option>Khoa học máy tính</option>
        <option>Khoa học môi trường</option>
      </select>
      <select class="hidden tmp">
        <option></option>
      </select>
    </div>
    <input
      type="text"
      name="search"
      placeholder="Tìm kiếm sách, tạp chí, báo, ..."
      aria-label="Từ khóa tìm kiếm sách, tạp chí, báo, ..."
      class="flex-grow py-6 pl-12 pr-6 xl:py-4 lg:pl-6" 
    />
    <button id="header-search-btn" type="submit" aria-label="Tìm kiếm">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.6133 14.6667H16.6667L23.32 21.3333L21.3333 23.32L14.6667 16.6667V15.6133L14.3067 15.24C12.7867 16.5467 10.8133 17.3333 8.66667 17.3333C3.88005 17.3333 0 13.4533 0 8.66667C0 3.88001 3.88005 0 8.66667 0C13.4533 0 17.3333 3.88001 17.3333 8.66667C17.3333 10.8133 16.5467 12.7867 15.2401 14.3067L15.6133 14.6667ZM2.66667 8.66667C2.66667 11.9867 5.34668 14.6667 8.66667 14.6667C11.9867 14.6667 14.6667 11.9867 14.6667 8.66667C14.6667 5.34668 11.9867 2.66667 8.66667 2.66667C5.34668 2.66667 2.66667 5.34668 2.66667 8.66667Z" fill="black" fill-opacity="0.54"/>
      </svg>
    </button>
  </form>
  <nav class="text-white active md:hidden" id="header-navbar">
    <ul class="flex items-center">
      <li class="">
        <a href="/">Trang chủ</a>
      </li>
      <li class="ml-32 3xl:ml-20 xl:ml-10 lg:ml-6">
        <a href="/catalogue">Kho sách</a>
      </li>
      <li class="ml-32 3xl:ml-20 xl:ml-10 lg:ml-6">
        <a href="/login">Đăng nhập</a>
      </li>
    </ul>
    <div id="header-navbar-overlay"></div>
  </nav>
</header>