{
  "type": "postgres",
  "host": "localhost",
  "port": 5432,
  "username": "postgres",
  "password": "",
  "database": "",
  "logging": true,
  "entities": ["build/entities/*.js"],
  "migrations": ["build/migrations/*.js"],
  "cli": {
    "migrationsDir": "server/migrations"
  }
}
