.book-carousel-wrapper {
  @apply relative;
  .slick-button-wrapper {
    @apply flex;
  }

  button {
    z-index: 10;
    top: 50%;
    margin-top: -18px;
    @apply absolute bg-white rounded-full shadow-md h-10 w-10 text-2xl text-indigo-600 self-center;
    @screen md {
      @apply h-12 w-12
    }
    &:focus {
      @apply text-indigo-400 outline-none shadow-outline;
    }
    &:hover {
      @apply text-indigo-400
    }
  }

  .slick-next {
    @apply right-0 -mr-6;
  }
  .slick-prev {
    @apply left-0 -ml-4;
    @screen sm{
      @apply -ml-6;
    }
  }
}

.book-carousel__desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

  height: calc(0.875rem * 1.5 * 3);
  @apply text-sm leading-normal;
  @screen lg {
    height: calc(1rem * 1.625 * 3);
    @apply leading-relaxed text-base;
  }
}

.book-carousel__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  height: 2rem;
  @apply leading-none text-base;
  @screen lg {
    height: calc(1.125rem * 1.5 * 2);
    @apply leading-normal text-lg;
  }
}

.book-item__cover {
  padding-bottom: 130%;
  @apply relative h-0 block;
  @screen md {
    @apply mb-2;
  }
  @screen lg {
    @apply mb-6;
  }
}
