.slick-slide {
    @apply mx-2;
    max-width: 10rem;
    @screen lg{
        max-width: 17rem;
    }
}

.book-carousel-wrapper{
    @apply flex flex-row justify-center;
    .slick-button-wrapper{
        @apply flex;
    }
    button {
        @apply self-center;
        &:focus {
            box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
            @apply border-red-300;
            @apply outline-none;
        }
    }
    button svg {
        width: 75%;
        height: auto;
        @screen md{
            width: 100%;
        }
    }
}
.book-carousel {
    width: 90%;
    @apply self-center;   
}
.book-carousel__desc{
    @screen lg {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    }
}
.book-carousel__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}