.header__dropdown--wrapper {
  @apply relative;
}

.header__dropdown {
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  top: calc(100% + 0.5rem);
  right: -0.5rem;
  @apply absolute;
}

.header__dropdown--header {
  align-items: center;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.notification-dropdown {
  width: 400px;
}

.notification-dropdown .header__dropdown--content {
  max-height: 500px;
  overflow: auto;
}

.notification-dropdown .header__dropdown--content.empty {
  padding: 1rem;
  text-align: center;
}

.user-dropdown {
  width: 150px;
}

.user-dropdown a {
  display: block;
  padding: 0.4rem 1rem;
}

#notification-menu {
  @apply -mx-6 -mb-3;
}

.header__dropdown--content--mobile {
  max-height: 400px;
  overflow: auto;
}

.notification-count {
  position: absolute;
  top: -6px;
  right: -6px;

  align-items: center;
  background: red;
  color: white;
  display: flex;
  border-radius: 50%;
  font-size: 11px;
  font-weight: bold;
  height: 19px;
  justify-content: center;
  width: 19px;
}
