.profile__book-carousel--wrapper {
  @apply relative;
}

.profile__book-carousel__slick-arrow {
  top: 50%;
  @apply text-2xl absolute -mt-6 bg-white z-20 rounded-full shadow-md;
  @apply h-10 w-10;
  @screen md {
    @apply h-12 w-12;
  }

  &:focus {
    @apply outline-none shadow-outline;
    @apply text-indigo-400;
  }

  @apply text-indigo-600;
  &:hover {
    @apply text-indigo-400;
  }
}

.profile__book-carousel__slick-arrow.prev {
  transform: scaleX(-1);
  @apply left-0 -ml-5;
  @screen md {
    @apply -ml-6;
  }
}

.profile__book-carousel__slick-arrow.next {
  @apply right-0 -mr-5;
  @screen md {
    @apply -mr-6;
  }
}

.profile__book {
  @apply bg-gray-100 p-4 pr-6 pb-2;
  @screen sm {
    @apply grid grid-cols-5 gap-5;
  }
}

.profile__book__cover-image {
  @apply col-span-2 relative h-0;
  padding-bottom: 130%;
}

.profile__book__detail {
  @apply col-span-3 relative;
}
