.search__filter {
  position: fixed;
  left: 0;
  height: 600px;
  max-height: calc(100% - 54px - 50px);
  bottom: -600px;
  transition: bottom linear 0.15s;
  overflow: auto;
  width: 100%;
  @apply px-6 py-8 bg-white z-40;
  &.active {
    bottom: 0;
  }
  @screen md {
    @apply bg-transparent px-0 py-0;
    width: unset;
    position: static;
  }
}

.search__filter-underlay {
  @apply fixed inset-0 hidden z-30;
  background-color: rgba(0, 0, 0, 0.4);
}

.search__filter.active + .search__filter-underlay {
  @apply block;
}

.sort-select__desktop {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' aria-hidden='true' fill='none' stroke='%232c5282' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpolyline points='8 12 12 16 16 12'%3E%3C/polyline%3E%3Cline x1='12' y1='8' x2='12' y2='16'%3E%3C/line%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 0.5rem) center;
  padding-right: calc(24px + 1rem);
  @apply bg-white rounded-lg;
  &:hover {
    @apply border-indigo-500;
    outline: none;
    box-shadow: 0 0 0 3px rgba(3,102,214,.3);
  }
}

.sort-select__desktop:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #667eea;
}
