@import "./base";
@import "./header";
@import "./book_carousel";
@import "./category_preview";
@import "./notification";
@import "./book";
@import "./profile";
@import "./news";
@import "./settings";
@import "./pagination";
@import "./search";

body {
  background-color: #edf2f7;
}

#news {
  padding-top: 54px;
  margin-top: -54px;
  @screen md {
    padding-top: 65px;
    margin-top: -65px;
  }
}
