{% extends "admin-layout.html" %}
{% block breadcrumb %}
<div class="col-lg-10">
  <h2>Quản lý sách</h2>
  <ol class="breadcrumb">
    <li>
      <a href="/admin">Home</a>
    </li>
    <li>
      <a href="/admin/book">Quản lý sách</a>
    </li>
    <li class="active">
      <strong>Thêm sách</strong>
    </li>
  </ol>
</div>
{% endblock %}

{% block style %}
<style>
  .img-container,
  .img-preview {
    overflow: hidden;
    text-align: center;
    width: 100%;
  }

  .img-preview-sm {
    height: 130px;
    width: 200px;
  }
</style>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-lg-12">
    <div class="ibox ">
      <div class="ibox-title">
        <h5>Thêm sách mới</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link hidden">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">
        <form id="staff-form" action="/admin/book/" method="POST" enctype="multipart/form-data">
          {% include "partials/book.form.html" %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/js/admin_book_form.js"></script>
{% endblock %}