<div class="flex flex-wrap w-full mt-3">
    <div class="mr-8">
        <img src="{{user.profilePicture}}"
            alt="your profile picture" class="rounded-full h-12 w-12 mb-2 lg:mb-0">
    </div>

    <div class="book__comment-form-container">
        <form action="/books/{{bookId}}/comments/create" method="post" class="flex flex-wrap">
            <textarea class="w-full mb-2 lg:mb-0 resize-none" name="content" placeholder="Phản hồi công khai..."></textarea>
            <input type="hidden" name="userId" value="{{user.id}}">
            <div>
                <button type="submit" class="" value="Gửi">Gửi</button>
                <button type="reset" class="book__comment-form__cancel-button">Hủy bỏ</button>
            </div>
        </form>
    </div>
</div>