{{>book.detail book}}
<div class="bg-gray-300">
    {{>book.testimonial}}
</div>
{{#with book.category}}
    {{>book.carousel.with.heading title=name desc=desc books=(getBooksWith 'category' this) }}
{{/with}}
<div class="bg-gray-300">
    {{>book.comments}}
</div>
