<div class="bg-gray-300">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Phân loại sách của thư viện</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-700">
        Các đầu sách được phân theo mức nhập môn và các chuyên ngành của Khoa Công Nghệ Thông Tin.
      </p>
    </div>
    {{>category.preview}}
  </div>
</div>

{{#each categories }}
{{>book.carousel.with.heading title=name desc=desc books=(getBooksWith 'category' this) }}
{{/each}}