<script>
window.flash = function(type, content) {
    let bgColour = "";
    let textColour = "";
    switch (type) {
        case "success": {
            bgColour = "bg-green-500";
            textColour = "text-green-500";
            break;
        }
        case "error": {
            bgColour = "bg-red-500";
            textColour = "text-red-500";
            break;
        }        
    }
    let template = `
    <div class="notification-popup mb-2">
        <div class="flex justify-center items-center min-w-12 ${bgColour}">
            <svg class="h-6 w-6 fill-current text-white" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM16.6667 28.3333L8.33337 20L10.6834 17.65L16.6667 23.6166L29.3167 10.9666L31.6667 13.3333L16.6667 28.3333Z" />
            </svg>
        </div>
        <div class="-mx-3 py-2 px-4">
            <div class="mx-3">
                <span class="${textColour} font-semibold capitalize">${type}</span>
                <p class="text-gray-600 text-sm">${content}</p>
            </div>
        </div>
    </div>`;
    document.querySelector(".notification-popup--wrapper").innerHTML += template;
    setTimeout(function() {
        document.querySelectorAll(".notification-popup").forEach(ele => ele.classList.add("fade"));
        setTimeout(function() {
            document.querySelectorAll(".notification-popup").forEach(ele => ele.classList.add("hidden"));
        }, 200);
    }, 3500);
}
</script>

{% if flash %}
<script>
    window.flash("{{ flash.type }}", "{{ flash.content }}");
</script>
{% endif %}