<main class="mx-auto mb-20 md:px-4" style="max-width: 55rem;">
  <div class="h-16"></div>
  <div class="flex items-center justify-center pr-4 md:pr-0">
    <img src="/images/logo.png" alt="Logo" class="h-p-80 mr-8"/>
    <h1 class="text-36 leading-38 font-bold font-lato pt-8 md:pt-0">FITLIB - Quên mật khẩu</h1>
  </div>
  <div class="h-8"></div>
  <form action="/forgot-password" method="POST" class="auth-form">
    <label class="auth-form__field">
      <div class="auth-form__field-name">
        <h2>Tài khoản</h2>
        <span></span>
      </div>
      <input type="text" name="username" class="auth-form__field-value" tabindex="1" autofocus>
    </label>
    <div class="h-12"></div>
    <button type="submit" class="auth-form__submit-button" tabindex="4">Lấy lại mật khẩu</button>
  </form>
</main>