<section class="my-12 md:my-16 flex flex-col justify-center">
    <div class="py-6 ">
        <div class="flex bg-white rounded-lg shadow-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl">
            <div class="hidden lg:block lg:w-1/2 bg-cover" style="background-image:url('/images/forget_password.jpg')">
            </div>
            <form action="/forgot-password" method="POST" class="w-full p-8 lg:w-1/2">
                <h2 class="text-2xl font-semibold text-gray-700 text-center">FITLIB</h2>
                <p class="text-xl text-gray-600 text-center">Quên mật khẩu</p>
                <p class="border-b py-1"></p>
                <p class="text-base text-gray-800 text-center">
                    Nhập địa chỉ email của bạn và chúng tôi sẽ gửi đường dẫn để cài lại mật khẩu cho tài khoản của bạn.
                </p>
                <div class="mt-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
                    <input type="email" name="email" autofocus
                        class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none">
                </div>
                <div class="mt-8">
                    <button class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600">Gửi
                        đường dẫn cài lại mật khẩu</button>
                </div>
                <p class="border-b py-4"></p>
                <a class="text-sm text-gray-500 hover:text-gray-700 text-center" href="/login">Bạn đã có tài khoản? Hãy
                    đăng nhập nào!</a>
            </form>
        </div>
    </div>
</section>