{% extends "layout.html" %}

{% block body %}
<section class="text-gray-700 body-font">
    <div class="container px-6 py-12 mx-auto">
        <div class="flex flex-col text-center w-full">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Hướng dẫn sử dụng</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                Nếu yêu cầu nào của bạn mà không có hướng dẫn ở đây,
                vui lòng gửi yêu cầu đấy vào email của chúng tôi.
            </p>
        </div>
    </div>
</section>
<section class="text-gray-700 body-font">
    <div class="container mx-auto px-4 md:px-6 mb-12">
        <div class="py-6 px-2 md:px-6 bg-white rounded shadow">
            <div class="w-full mb-6 text-center md:text-left">
                <h1 class="sm:text-2xl text-xl font-medium title-font mb-2 text-black">ĐĂNG NHẬP WEBSITE</h1>
            </div>
            <div class="flex relative pb-12 md:pl-4">
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center md:pl-8">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div
                    class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                    </svg>
                </div>
                <div class="flex-grow pl-4">
                    <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">BƯỚC 1</h2>
                    <p class="leading-relaxed">Bạn là sinh viên, học viên của trường Đại học Khoa học Tự Nhiên - Hồ Chí Minh
                    </p>
                </div>
            </div>
            <div class="flex relative pb-12 md:pl-4">
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center md:pl-8">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div
                    class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                    </svg>
                </div>
                <div class="flex-grow pl-4">
                    <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">BƯỚC 2</h2>
                    <p class="leading-relaxed">Đăng ký thư viện để học khóa học hướng dẫn sử dụng tài nguyên của thư viện.
                    </p>
                </div>
            </div>
            <div class="flex relative pb-12 md:pl-4">
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center md:pl-8">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div
                    class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                </div>
                <div class="flex-grow pl-4">
                    <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">BƯỚC 3</h2>
                    <p class="leading-relaxed">Đăng nhập với tài khoản là email sinh viên, mật khẩu mặc định là số CMND</p>
                </div>
            </div>
            <div class="flex relative md:pl-4">
                <div
                    class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                </div>
                <div class="flex-grow pl-4">
                    <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">KẾT THÚC</h2>
                    <p class="leading-relaxed">Đăng nhập thành công.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-700 body-font">
    <div class="container mx-auto px-4 md:px-6 mb-12">
        <div class="py-6 px-2 md:px-6 bg-white rounded shadow">
            <div class="w-full mb-6 text-center md:text-left">
                <h1 class="sm:text-2xl text-xl font-medium title-font mb-2 text-black">QUY ĐỊNH CỦA THƯ VIỆN</h1>
            </div>
            <div class="flex relative pb-12 md:pl-4">
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center md:pl-8">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div
                    class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                    </svg>
                </div>
                <div class="flex-grow pl-4">
                    <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">QUY ĐỊNH 1</h2>
                    <p class="leading-relaxed">Không chia sẻ tài khoản của mình cho người khác.</p>
                </div>
            </div>
            <div class="flex relative pb-12 md:pl-4">
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center md:pl-8">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div
                    class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                    </svg>
                </div>
                <div class="flex-grow pl-4">
                    <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">QUY ĐỊNH 2</h2>
                    <p class="leading-relaxed">Bình luận ôn hòa, có tính đóng góp trên website của thư viện.</p>
                </div>
            </div>
            <div class="flex relative pb-12 md:pl-4">
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center md:pl-8">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div
                    class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <circle cx="12" cy="5" r="3"></circle>
                        <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
                    </svg>
                </div>
                <div class="flex-grow pl-4">
                    <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">QUY ĐỊNH 3</h2>
                    <p class="leading-relaxed">Mỗi người không mượn quá 2 cuốn sách cùng một lúc.</p>
                </div>
            </div>
            <div class="flex relative pb-12 md:pl-4">
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center md:pl-8">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div
                    class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                </div>
                <div class="flex-grow pl-4">
                    <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">QUY ĐỊNH 4</h2>
                    <p class="leading-relaxed">Mỗi cuốn sách có thời hạn mượn 2 tuần.</p>
                </div>
            </div>
            <div class="flex relative md:pl-4">
                <div
                    class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                </div>
                <div class="flex-grow pl-4">
                    <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">QUY ĐỊNH 5</h2>
                    <p class="leading-relaxed">Trả sách muộn bị phạt 5000 VNĐ / ngày</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-700 body-font">
    <div class="container mx-auto px-4 md:px-6 mb-12">
        <div class="py-6 px-2 md:px-6 bg-white rounded shadow">
            <div class="w-full mb-6 text-center md:text-left">
                <h1 class="sm:text-2xl text-xl font-medium title-font mb-2 text-black">MƯỢN SÁCH THƯ VIỆN</h1>
            </div>
            <div class="flex relative pb-12 md:pl-4">
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center md:pl-8">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div
                    class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                    </svg>
                </div>
                <div class="flex-grow pl-4">
                    <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">BƯỚC 1</h2>
                    <p class="leading-relaxed">Đăng nhập vào website FITLIB.</p>
                </div>
            </div>
            <div class="flex relative pb-12 md:pl-4">
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center md:pl-8">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div
                    class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                    </svg>
                </div>
                <div class="flex-grow pl-4">
                    <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">BƯỚC 2</h2>
                    <p class="leading-relaxed">Tìm sách muốn mượn và nhấn nút chọn mượn sách.</p>
                </div>
            </div>
            <div class="flex relative pb-12 md:pl-4">
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center md:pl-8">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div
                    class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <circle cx="12" cy="5" r="3"></circle>
                        <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"></path>
                    </svg>
                </div>
                <div class="flex-grow pl-4">
                    <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">BƯỚC 3</h2>
                    <p class="leading-relaxed">Hệ thống sẽ thông báo lịch hẹn cho người mượn để nhận sách. Yêu cầu mượn sẽ
                        tự động hủy nếu người mượn sau 1 ngày lịch hẹn mà không tới lấy sách.</p>
                </div>
            </div>
            <div class="flex relative pb-12 md:pl-4">
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center md:pl-8">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div
                    class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                </div>
                <div class="flex-grow pl-4">
                    <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">BƯỚC 4</h2>
                    <p class="leading-relaxed">Đem thẻ sinh viên lên thư viện vào ngày hẹn sách để nhận sách.</p>
                </div>
            </div>
            <div class="flex relative md:pl-4">
                <div
                    class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                        <path d="M22 4L12 14.01l-3-3"></path>
                    </svg>
                </div>
                <div class="flex-grow pl-4">
                    <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">KẾT THÚC</h2>
                    <p class="leading-relaxed">Hoàn thành mượn sách thư viện.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}