<!DOCTYPE html>
<html lang="vi">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/tailwind.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body class="flex flex-col">
    <div class="notification-popup--wrapper">

    </div>
    {% include "partials/header.html" %}
    {% block body %}
    {% endblock %}
    {% include "partials/footer.html" %}
    <script>
        {% if user %}
        window.__USER__ = {{ user | dump | safe}};
        {% else %}
        window.__USER__ = null;
        {% endif %}
    </script>
    <script src="/javascripts/index.js"></script>
    {% include "flash.html" %}
</body>

</html>