{% extends "layout.html" %}

{% block body %}
<section class="my-12 md:my-16 flex flex-col justify-center">
    <div class="py-6 ">
        <div class="flex bg-white rounded-lg shadow-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl">
            <div class="hidden lg:block lg:w-1/2 bg-cover" style="background-image:url('/images/login.jpg')"></div>
            <form action="/login" method="POST" class="w-full p-8 lg:w-1/2">
                <h2 class="text-2xl font-semibold text-gray-700 text-center">FITLIB</h2>
                <p class="text-xl text-gray-600 text-center">Chào mừng bạn đã quay trở lại!</p>
                <p class="border-b py-1"></p>
                <div class="mt-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Tài khoản</label>
                    <input type="text" name="username" autofocus tabindex="1"
                        class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none">
                </div>
                <div class="mt-4">
                    <div class="flex justify-between">
                        <label class="block text-gray-700 text-sm font-bold mb-2">Mật khẩu</label>
                        <a href="/forgot-password" tabindex="4" class="text-xs text-gray-500">Quên mật khẩu?</a>
                    </div>
                    <input type="password" name="password" tabindex="2"
                        class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none">
                </div>
                <div class="mt-8">
                    <button type="submit" tabindex="3"
                        class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600">
                        Đăng nhập
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}