<main class="mx-auto mb-20 md:px-8" style="max-width: 55rem;">
  <div class="h-16"></div>
  <div class="flex items-center justify-center pr-4 md:pr-0">
    <img src="/images/logo.png" alt="Logo" class="h-p-80 mr-8"/>
    <h1 class="text-36 leading-38 font-bold font-lato pt-8 md:pt-0">FITLIB - Đăng nhập</h1>
  </div>
  <div class="h-8"></div>
  <form action="/login" method="POST" class="auth-form">
    <label class="auth-form__field">
      <div class="auth-form__field-name">
        <h2>Tài khoản</h2>
        <span></span>
      </div>
      <input type="text" name="username" class="auth-form__field-value" tabindex="1" autofocus>
    </label>
    <div class="h-6"></div>
    <label class="auth-form__field">
      <div class="auth-form__field-name">
        <h2>Mật khẩu</h2>
        <a href="/forgot-password" class="hover:underline focus:underline focus:outline-none" style="color: #2C59FB;" tabindex="3">Quên mật khẩu</a>
      </div>
      <input type="password" name="password" class="auth-form__field-value" tabindex="2">
    </label>
    <div class="h-12"></div>
    <button type="submit" class="w-full bg-fit-yellow hover:bg-fit-yellow-light focus:bg-fit-yellow-light focus:outline-none rounded-5 border font-medium py-4" style="border-color: #655E5E" tabindex="4">Đăng nhập</button>
  </form>
</main>