{% extends "layout.html" %}

{% block body %}
<section class="text-gray-700 body-font">
    <div class="news-content container py-8 px-6 mx-auto">
        <div class="p-4 md:px-16 md:py-12 bg-white shadow rounded">
            <span class="tracking-widest font-medium title-font text-gray-900">{{ news.category }}</span>
            <span class="mt-1 text-gray-500 text-sm">{{ news.date | moment("DD MMM YYYY") }}</span>
            <h1 class="lg:text-3xl md:text-2xl font-medium text-gray-900 title-font mb-4">
                {{ news.title }}
            </h1>
            <a href="{{ news.link }}" class="text-right italic text-blue-600 block hover:underline mb-4">Xem ở web khoa</a>
            <div class="post-contents">
                {{ news.content | safe }}
            </div>
        </div>
    </div>
</section>

<section class="text-gray-700 body-font">
    <div class="container px-6 pb-8 mx-auto">
        <div class="p-4 pb-0 md:px-6 md:pt-4 md:pb-2 bg-white shadow rounded">
            <div class="flex flex-wrap w-full mb-4 md:mb-12">
                <div class="lg:w-1/2 w-full">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Tin tức liên quan</h1>
                    <div class="h-1 w-20 bg-indigo-500 rounded"></div>
                </div>
            </div>
            <div>
                {% for relatedNews in relatedNewsList %}
                {% if loop.index == 1 %}
                <div class="py-4 flex flex-wrap md:flex-no-wrap">
                {% else %}
                <div class="py-4 flex border-t-2 border-gray-200 flex-wrap md:flex-no-wrap">
                {% endif %}
                    <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                        <span class="tracking-widest font-medium title-font text-gray-900">{{ relatedNews.category }}</span>
                        <span class="mt-1 text-gray-500 text-sm">{{ relatedNews.date | moment("DD MMM YYYY") }}</span>
                    </div>
                    <div class="md:flex-grow">
                        <a href="/news/{{ relatedNews.slug }}"
                            class="lg:text-xl md:text-lg font-medium text-gray-900 hover:text-indigo-500 title-font mb-2">
                            {{ relatedNews.title }}
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}