<section class="text-gray-700 body-font">
    <div class="news-content container py-8 px-6 mx-auto min-h-screen">
        <div class="p-4 md:px-16 md:py-12 bg-white shadow rounded">
            <span class="tracking-widest font-medium title-font text-gray-900">Sau đại học</span>
            <span class="mt-1 text-gray-500 text-sm">12 Jun 2020</span>
            <h1 class="lg:text-3xl md:text-2xl font-medium text-gray-900 title-font mb-8">Thông báo lịch phỏng vấn xét
                tuyển
                đào
                tạo bậc thạc sĩ năm 2020 đợt 1</h1>

            <div class="post-contents">
                <p style="text-align: center; margin-bottom: 1.5em; color: rgb(85, 85, 85);">
                    <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;"><b>THÔNG
                                BÁO</b></span>
                    </font>
                </p>
                <p style="margin-bottom: 1.5em; color: rgb(85, 85, 85);">
                    <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Nhằm khuyến khích
                            học
                            viên (HV)
                            và nghiên cứu sinh (NCS) tập trung thời gian cho việc học tập và nghiên cứu khoa học (NCKH)
                            thuộc các lĩnh
                            vực đào tạo sau đại học tại Đại học Quốc gia Thành phố Hồ Chí Minh (ĐHQG-HCM), Giám đốc
                            ĐHQG-HCM
                            đã ký Quyết
                            định số 1180/QĐ-ĐHQG ngày 26/9/2018 về việc phê duyệt Đề án học bổng sau đại học
                            của&nbsp;ĐHQG-HCM .</span>
                    </font>
                </p>
                <p style="margin-bottom: 1.5em; color: rgb(85, 85, 85);"><strong>
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">I. Mục tiêu của
                                học
                                bổng sau
                                đại học của ĐHQG-HCM:</span></font>
                    </strong></p>
                <ul
                    style="margin-right: 0px; margin-bottom: 1em; margin-left: 1em; padding: 0px; list-style-position: inside; color: rgb(85, 85, 85);">
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Hỗ trợ kinh phí
                                cho
                                học viên
                                (HV) và nghiên cứu sinh (NCS) có kết quả học tập tốt, có công trình NCKH có chất lượng
                                được
                                thể hiện tối
                                thiểu qua bài báo được đăng hoặc được nhận đăng trên tạp chí khoa học thuộc danh mục các
                                tạp
                                chí
                                ISI-Scopus; hoặc đã công bố tối thiểu 02 báo cáo trong kỷ yếu hội thảo quốc tế uy tín,
                                có
                                phản biện, xuất
                                bản bằng tiếng nước ngoài; hoặc 02 bài báo đăng trên tạp chí khoa học nước ngoài uy tín,
                                có
                                phản biện;
                                hoặc tham gia đề tài NCKH các cấp đã được nghiệm thu.</span></font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Góp phần nâng
                                cao
                                chất lượng
                                đào tạo, uy tín, vị thế của ĐHQG-HCM và các cơ sở đào tạo (CSĐT).</span></font>
                    </li>
                </ul>
                <p style="margin-bottom: 1.5em; color: rgb(85, 85, 85);"><strong>
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">II. Số lượng và
                                giá
                                trị học
                                bổng:&nbsp;</span></font>
                    </strong></p>
                <ul
                    style="margin-right: 0px; margin-bottom: 1em; margin-left: 1em; padding: 0px; list-style-position: inside; color: rgb(85, 85, 85);">
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Năm 2020,
                                ĐHQG-HCM
                                cấp 10 suất
                                học bổng thạc sĩ và 10 suất học bổng tiến sĩ</span></font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Giá trị học
                                bổng</span></font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Học bổng thạc
                                sĩ:
                                25.000.000đ/suất</span></font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Học bổng tiến
                                sĩ:
                                75.000.000đ/suất</span></font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Tùy theo tình
                                hình
                                thực tế, số
                                suất học bổng của HV hoặc NCS có thể điều chỉnh theo từng trình độ sao cho đảm bảo tổng
                                số
                                tiền được cấp
                                hàng năm.</span></font>
                    </li>
                </ul>
                <p style="margin-bottom: 1.5em; color: rgb(85, 85, 85);"><strong>
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">III. Tiêu chí
                                lựa
                                chọn:</span>
                        </font>
                    </strong></p>
                <p style="margin-bottom: 1.5em; color: rgb(85, 85, 85);"><strong>
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">1. Đối với học
                                viên
                                cao
                                học</span></font>
                    </strong></p>
                <p style="margin-bottom: 1.5em; color: rgb(85, 85, 85);">
                    <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">HV năm thứ nhất hoặc
                            HV
                            năm cuối
                            (tính theo theo thời gian nhập học):</span></font>
                </p>
                <ul
                    style="margin-right: 0px; margin-bottom: 1em; margin-left: 1em; padding: 0px; list-style-position: inside; color: rgb(85, 85, 85);">
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Học đúng tiến độ
                                theo kế hoạch
                                của CSĐT.</span></font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Có kết quả học
                                tập
                                cuối năm
                                đạt tối thiểu 7.0 (đối với các lĩnh vực sau: Khoa học sự sống; Khoa học tự nhiên; Toán
                                và
                                thống kê, Máy
                                tính và công nghệ thông tin; Công nghệ kỹ thuật; Kỹ thuật; Sức khỏe và Môi trường và bảo
                                vệ
                                môi
                                trường).</span></font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Có tối thiểu 24
                                giờ
                                làm
                                việc/tuần (ngoài thời gian học trên lớp) dành cho việc học tập và nghiên cứu tại CSĐT
                                (đối
                                với HV năm
                                cuối).</span></font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Sản phẩm NCKH:
                                Có
                                tối thiểu 01
                                bài báo được đăng hoặc được nhận đăng trên tạp chí khoa học thuộc danh mục các tạp chí
                                ISI-Scopus; hoặc đã
                                công bố tối thiểu 02 báo cáo trong kỷ yếu hội thảo quốc tế uy tín, có phản biện, xuất
                                bản
                                bằng tiếng nước
                                ngoài; hoặc 02 bài báo đăng trên tạp chí khoa học nước ngoài uy tín, có phản biện; hoặc
                                tham
                                gia đề tài
                                NCKH các cấp đã được nghiệm thu (đối với HV năm cuối).</span></font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Đạt chuẩn trình
                                độ
                                ngoại ngữ
                                theo quy định hiện hành của ĐHQG-HCM.</span></font>
                    </li>
                </ul>
                <p style="margin-bottom: 1.5em; color: rgb(85, 85, 85);"><strong>
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">2. Đối với
                                nghiên
                                cứu
                                sinh</span></font>
                    </strong></p>
                <p style="margin-bottom: 1.5em; color: rgb(85, 85, 85);">
                    <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">NCS năm thứ nhất
                            hoặc
                            NCS năm
                            thứ hai hoặc NCS năm thứ ba (tính theo theo thời gian nhập học):</span></font>
                </p>
                <ul
                    style="margin-right: 0px; margin-bottom: 1em; margin-left: 1em; padding: 0px; list-style-position: inside; color: rgb(85, 85, 85);">
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Học đúng tiến độ
                                theo kế hoạch
                                của CSĐT.</span></font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Có kết quả học
                                tập
                                cuối năm
                                đạt tối thiểu 7.0 (đối với các lĩnh vực sau: Khoa học sự sống; Khoa học tự nhiên; Toán
                                và
                                thống kê; Máy
                                tính và công nghệ thông tin; Công nghệ kỹ thuật; Kỹ thuật; Sức khỏe; Môi trường và bảo
                                vệ
                                môi
                                trường).</span></font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Có tối thiểu 24
                                giờ
                                làm
                                việc/tuần (ngoài thời gian học trên lớp) dành cho việc học tập và nghiên cứu tại
                                CSĐT.</span></font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Sản phẩm NCKH:
                                Có
                                tối thiểu 01
                                bài báo được đăng hoặc được nhận đăng trên tạp chí khoa học thuộc danh mục các tạp chí
                                ISI-Scopus; hoặc đã
                                công bố tối thiểu 02 báo cáo trong kỷ yếu hội thảo quốc tế uy tín, có phản biện, xuất
                                bản
                                bằng tiếng nước
                                ngoài; hoặc 02 bài báo đăng trên tạp chí khoa học nước ngoài uy tín, có phản biện; hoặc
                                tham
                                gia đề tài
                                NCKH các cấp đã được nghiệm thu (đối với NCS năm thứ hai và năm thứ ba).</span></font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Đạt chuẩn trình
                                độ
                                ngoại ngữ
                                theo quy định hiện hành của ĐHQG-HCM.</span></font>
                    </li>
                </ul>
                <p style="margin-bottom: 1.5em; color: rgb(85, 85, 85);"><strong>
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">IV. Quy định
                                khác</span>
                        </font>
                    </strong></p>
                <ul
                    style="margin-right: 0px; margin-bottom: 1em; margin-left: 1em; padding: 0px; list-style-position: inside; color: rgb(85, 85, 85);">
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Học bổng sẽ bị
                                hủy
                                bỏ nếu HV,
                                NCS vi phạm pháp luật, hoặc bị phát hiện có gian lận trong hồ sơ xin xét tuyển, hoặc có
                                hành
                                vi xấu đối
                                với ĐHQG-HCM và CSĐT.</span></font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">HV, NCS đã nhận
                                học
                                bổng khác
                                trong niên học này thì không được phép nhận học bổng sau đại học của ĐHQG-HCM.</span>
                        </font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Học bổng
                                này&nbsp;</span><strong><span style="font-family: &quot;Segoe UI&quot;;">không áp
                                    dụng</span></strong><span style="font-family: &quot;Segoe UI&quot;;">&nbsp;cho cán
                                bộ
                                công chức viên
                                chức, nghiên cứu viên và các hình thức ký hợp đồng làm việc tại ĐHQG-HCM và CSĐT.</span>
                        </font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Tiêu chí xếp thứ
                                tự
                                ưu tiên
                                các công trình dựa theo Điều 4, Quyết định số 1129/QĐ-ĐHQG ký ngày 18 tháng 10 năm 2016
                                về
                                việc ban hành
                                Hướng dẫn tổ chức giải thưởng công trình nghiên cứu khoa học xuất sắc cho sinh viên, học
                                viên cao học và
                                nghiên cứu sinh ở ĐHQG-HCM.</span></font>
                    </li>
                </ul>
                <p style="margin-bottom: 1.5em; color: rgb(85, 85, 85);"><strong>
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">V. Trách nhiệm
                                của
                                HV,
                                NCS</span></font>
                    </strong></p>
                <ul
                    style="margin-right: 0px; margin-bottom: 1em; margin-left: 1em; padding: 0px; list-style-position: inside; color: rgb(85, 85, 85);">
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Sử dụng học bổng
                                theo đúng mục
                                đích, yêu cầu của ĐHQG-HCM</span></font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Tích cực phấn
                                đấu
                                trong học
                                tập, nghiên cứu và rèn luyện tốt, đáp ứng các tiêu chí hỗ trợ học bổng</span></font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Cung cấp thông
                                tin
                                chính xác,
                                minh bạch về quá trình học tập, NCKH và tình hình làm việc của bản thân sau khi tốt
                                nghiệp
                                theo yêu cầu
                                của CSĐT</span></font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Phối hợp với
                                ĐHQG-HCM, CSĐT
                                quảng bá hình ảnh cá nhân cũng như thương hiệu của ĐHQG-HCM, Quỹ phát triển ĐHQG-HCM và
                                CSĐT.</span>
                        </font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">HV, NCS phải ghi
                                tên
                                CSĐT và
                                ĐHQG-HCM trong các bài báo công bố quốc tế theo đúng quy định theo hướng dẫn trong sổ
                                tay
                                học vụ theo các
                                khóa đào tạo.</span></font>
                    </li>
                </ul>
                <p style="margin-bottom: 1.5em; color: rgb(85, 85, 85);"><strong>
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">VI. Hồ sơ cần
                                nộp
                                (làm thành
                                02 bản):</span></font>
                    </strong></p>
                <ol
                    style="margin-right: 0px; margin-bottom: 1em; margin-left: 1em; padding: 0px; list-style-position: inside; color: rgb(85, 85, 85);">
                    <li style="list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Lý lịch khoa học
                                có
                                dán ảnh và
                                đóng dấu giáp lai.</span></font>
                    </li>
                    <li style="list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Giấy đề nghị cấp
                                học
                                bổng (nêu
                                tóm tắt thông tin về cá nhân, quá trình học tập, hướng nghiên cứu và các thành tích đạt
                                được).</span>
                        </font>
                    </li>
                    <li style="list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Kết quả học
                                tập.</span></font>
                    </li>
                    <li style="list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Văn bằng, chứng
                                chỉ
                                chứng minh
                                đạt trình độ ngoại ngữ theo quy định.</span></font>
                    </li>
                    <li style="list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Thư giới thiệu
                                và
                                xác nhận của
                                CBHD hoặc phụ trách ngành hoặc Bộ môn/Khoa.</span></font>
                    </li>
                    <li style="list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Minh chứng các
                                sản
                                phẩm NCKH,
                                kèm bảng kê thông tin sản phẩm KHCN (mẫu 1)</span></font>
                    </li>
                    <li style="list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Các thành tích
                                khen
                                thưởng
                                khác (nếu có).</span></font>
                    </li>
                </ol>
                <ul
                    style="margin-right: 0px; margin-bottom: 1em; margin-left: 1em; padding: 0px; list-style-position: inside;">
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif" style=""><span
                                style="font-family: &quot;Segoe UI&quot;; color: rgb(0, 0, 255);">Thời gian nhận hồ sơ:
                                từ
                                1/8 đến 15/9
                                năm 2020</span></font>
                    </li>
                    <li style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
                        <font face="arial, sans-serif" style=""><span
                                style="font-family: &quot;Segoe UI&quot;; color: rgb(0, 0, 255);">Địa điểm nhận hồ sơ:
                                Phòng
                                Đào tạo Sau
                                đại học (phòng B08), Trường Đại học Khoa học Tự nhiên.</span></font>
                    </li>
                </ul>
                <p style="margin-bottom: 1.5em; color: rgb(85, 85, 85);"><a
                        href="https://sdh.hcmus.edu.vn/2020/06/17/thong-bao-hoc-bong-sau-dai-hoc-cua-dhqg-hcm-nam-2020/">https://sdh.hcmus.edu.vn/2020/06/17/thong-bao-hoc-bong-sau-dai-hoc-cua-dhqg-hcm-nam-2020/</a>
                    <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;"><br></span></font>
                </p>
                <p style="margin-bottom: 1.5em; color: rgb(85, 85, 85);">
                    <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">Trân trọng.</span>
                    </font>
                </p>
                <div style="color: rgb(51, 51, 51); text-align: justify;"><span
                        style="color: rgb(33, 16, 74); font-weight: bold; font-family: &quot;Segoe UI&quot;;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">---</span>
                        </font>
                    </span></div>
                <div style="color: rgb(51, 51, 51); text-align: justify;"><span
                        style="color: rgb(33, 16, 74); font-weight: bold; font-family: &quot;Segoe UI&quot;;">
                        <font face="arial, sans-serif"><span style="font-family: &quot;Segoe UI&quot;;">BP. Giáo vụ SĐH,
                                Khoa
                                CNTT</span></font>
                    </span></div>
                <div style="color: rgb(51, 51, 51); text-align: justify;">
                    <font face="arial, sans-serif"><span
                            style="font-family: &quot;Segoe UI&quot;;">Email:&nbsp;</span><a
                            href="mailto:giaovusdh@fit.hcmus.edu.vn"
                            style="color: rgb(35, 82, 124); outline: 0px;"><span
                                style="font-family: &quot;Segoe UI&quot;;">giaovusdh@fit.hcmus.edu.vn</span></a><br>
                    </font>
                </div>
                <div style="color: rgb(51, 51, 51); text-align: justify;">
                    <div dir="ltr">
                        <p style="text-align: left;">
                            <font face="arial, sans-serif"><span
                                    style="font-family: &quot;Segoe UI&quot;;">Fanpage:&nbsp;</span><span
                                    style="font-family: &quot;Segoe UI&quot;;"><a
                                        href="https://www.facebook.com/sdh.fit.hcmus/">https://www.facebook.com/sdh.fit.hcmus/</a></span>
                            </font>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-700 body-font">
    <div class="container px-6 pb-8 mx-auto">
        <div class="p-4 pb-0 md:px-6 md:pt-4 md:pb-2 bg-white shadow rounded">
            <div class="flex flex-wrap w-full mb-4 md:mb-12">
                <div class="lg:w-1/2 w-full">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Tin tức liên quan</h1>
                    <div class="h-1 w-20 bg-indigo-500 rounded"></div>
                </div>
            </div>
            <div>
                <div class="py-4 flex flex-wrap md:flex-no-wrap">
                    <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                        <span class="tracking-widest font-medium title-font text-gray-900">Sau đại học</span>
                        <span class="mt-1 text-gray-500 text-sm">12 Jun 2020</span>
                    </div>
                    <div class="md:flex-grow">
                        <a href="/news/thong-bao-lich-phong-van-xet-tuyen-dao-tao-bac-thac-si-nam-2020-dot-1"
                            class="lg:text-xl md:text-lg font-medium text-gray-900 hover:text-indigo-500 title-font mb-2">
                            Thông báo lịch phỏng vấn xét tuyển đào tạo bậc thạc sĩ năm 2020 đợt 1
                        </a>
                    </div>
                </div>
                <div class="py-4 flex border-t-2 border-gray-200 flex-wrap md:flex-no-wrap">
                    <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                        <span class="tracking-widest font-medium title-font text-gray-900">Thông báo chung</span>
                        <span class="mt-1 text-gray-500 text-sm">12 Jun 2020</span>
                    </div>
                    <div class="md:flex-grow">
                        <a href="/news/khao-sat-nguyen-vong-cua-sinh-vien-v-v-dang-ky-hinh-thuc-tot-nghiep"
                            class="lg:text-xl md:text-lg font-medium text-gray-900 hover:text-indigo-500 title-font mb-2">
                            Khảo sát nguyện vọng của sinh viên v/v đăng ký hình thức tốt nghiệp
                        </a>
                    </div>
                </div>
                <div class="py-4 flex border-t-2 border-gray-200 flex-wrap md:flex-no-wrap">
                    <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                        <span class="tracking-widest font-medium title-font text-gray-900">Thông báo chung</span>
                        <span class="mt-1 text-gray-500 text-sm">11 Jun 2020</span>
                    </div>
                    <div class="md:flex-grow">
                        <a href="/news/thong-bao-dang-ky-hoc-bong-hanh-tranh-huong-nghiep-dot-2-nam-2019-2020"
                            class="lg:text-xl md:text-lg font-medium text-gray-900 hover:text-indigo-500 title-font mb-2">
                            Thông báo đăng ký học bổng "Hành tranh hướng nghiệp" đợt 2 năm 2019-2020
                        </a>
                    </div>
                </div>
                <div class="py-4 flex border-t-2 border-gray-200 flex-wrap md:flex-no-wrap">
                    <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                        <span class="tracking-widest font-medium title-font text-gray-900">Sau đại học</span>
                        <span class="mt-1 text-gray-500 text-sm">12 Jun 2020</span>
                    </div>
                    <div class="md:flex-grow">
                        <a href="/news/thong-bao-lich-phong-van-xet-tuyen-dao-tao-bac-thac-si-nam-2020-dot-1"
                            class="lg:text-xl md:text-lg font-medium text-gray-900 hover:text-indigo-500 title-font mb-2">
                            Thông báo lịch phỏng vấn xét tuyển đào tạo bậc thạc sĩ năm 2020 đợt 1
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>